.card-icon{
  background-color: rgba(50, 62, 80, 0.271)  !important ;
}
.ri-community-fill{
  color: #2f5e9e !important;
}
.ri-coin-fill{
  color: #2f5e9e !important;
}
.update{
margin-left: 10px;
}
.denee{
  display: flex;
  justify-content: center;
  width: 1320px;
  height: 450px;
background-color: #fff;
border-radius: 5px;
}
.basechart{
  display: flex;
  justify-content: center;
}
.chart
{
  width: 550px;

}
.cikis{
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: #fff;
}
.giris{
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: #fff;
}
