.form-group{
    display: flex;
    flex-direction: row;
}
.label{
    margin-right:55px;
}
.btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 150px;
}
.card{
    margin-top: 150px ;
    margin-left: 150px;
}
.ürüni{
  width: 460px;
}
